:root{
    --color-primary: #757575;
    --color-heading: #212121;
    --color-background: #fff;
    --color-background-secondary: #2F303A;
    --color-background-tertiary: #F5F4FA;
    --font-weight-heading: 700;
    --color-white: #fff;
    --color-accent: #2196F3;
    --color-black: #000;
    --ff-roboto: Roboto, sans-serif;
    --ff-rlw: Raleway, sans-serif;
    --color-white-transperent: #FFFFFF99;
}
body {
    font-family: var(--ff-roboto);
    font-size: 16px;
    color: var(--color-primary);
    background-color: var(--color-background);
    letter-spacing: 0.03em;
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer {
    background-color: var(--color-background-secondary);
    font-size: 14px;
}  
.link {
    text-decoration: none;
    color: var(--color-heading);
}
.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
}
.sub-title {
    color: var(--color-heading);
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
}
.heading {
    color: var(--color-heading);
    font-size: 18px;
}
.address-list {
    list-style: none;
    font-style: normal;
}
.address .link {
    color: var(--color-white-transperent);
}
.address .link:hover,
.address .link:focus {
    color: var(--color-white);
}
.address-list .map {
    color: var(--color-white);
}
.logo {
    font-family: var(--ff-rlw);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
}
.web {
    color: var(--color-accent);
}
.studio-header {
    color: var(--color-black);
}
.studio-footer {
    color: var(--color-white);
}
.nav-header {
    list-style: none;
}
.nav-header a:hover,
.nav-header a:focus {
    color: var(--color-accent);
}
.contacts-header {
    list-style: none;
}
.contacts-header a {
color: var(--color-primary);
}
.contacts-header a:hover,
.contacts-header a:focus {
    color: var(--color-accent);
}
.hero-section {
    background-color: var(--color-background-secondary);
}
.order {
    background-color: var(--color-accent);
    font-family: var(--ff-roboto);
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-white);
    border: none;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: var(--font-weight-heading);
}
.order:hover,
.order:focus {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features-list {
    list-style: none;
}
.features-list h3 {
font-size: 14px;
line-height: 1.17;
}
.features-list p {
    font-size: 14px;
}
.we-do-list {
list-style: none;
}
.team {
    background-color: var(--color-background-tertiary);
}
.team-card {
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list {
    list-style: none;
}
.team-list h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
}
.team-list p {
    line-height: 1.17;
    text-align: center;
}
.portfolio-nav {
    list-style: none;
}
.portfolio-nav-button {
    background-color: var(--color-background-tertiary);
    font-family: var(--ff-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--color-heading);
    text-align: center;
    border: none;
}
.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
    background-color: var(--color-accent);
    color: var(--color-white);
    cursor: pointer;
}
.portfolio-list {
    list-style: none;
}
.portfolio-list .heading {
    line-height: 2;
}
.portfolio-list p {
    line-height: 1.875;
    color: var(--color-primary);
}